{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
{% endblock %}

{% block title %}
    About us
{% endblock %}

{% block content %}
    <div style="text-align: center; padding-top: 45px">
        <img src="{% static 'img/Interreg_Europe_logo_no_origami_QUADRI.jpg' %}"style="height: 150px; width: 400px">
    </div>
    <h1 style="text-align: center; padding-top: 40px">Development of  Yummy Places</h1>
    <div style="padding: 20px 10px">
        <p style="text-align: center">Yummy place were created due to a European Union project called Concepts for professional education in border regions (ATCZ23-C4PE).</p>
        <p style="text-align: center">Program: INTERREG V-A AT- CZ 2014 – 2020</p>
        <p style="text-align: center">Project duration: 07/2018 - 06/2021</p>
        <p style="text-align: center">Lead partner: Donau - Universität Krems</p>
        <p style="text-align: center">The project aims to establish cross-border professional education in Austria and The Czech republic.</p>
        <p style="text-align: center">In project were participated <a href="https://www.cichnovabrno.cz/" style="color: #007dff">SŠIPF Brno</a> and <a href="https://www.htlkrems.ac.at/" style="color: #007dff">HTL Krems</a></p>
    </div>
{% endblock %}

{% block js %}
{% endblock %}