<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Dodrzet strukturu! -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      {% block css %}
      {% endblock %}
    <!-- END Dodrzet strukturu! -->

    <!-- Dodrzet strukturu! -->
    <title>{% block title %} {% endblock %}</title>
    <!-- END Dodrzet strukturu! -->

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><strong>C4PE&nbsp;Project</strong></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="datatoggler">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav" onmouseover="Grey('User Settings')" onmouseout="UnGrey('User Settings')">
          <li class="nav-item" id='settings'><a class="nav-link" href="/settings" id="User Settings">Settings</a></li>
        </ul>
        <ul class="navbar-nav" onmouseover="Grey('User Profile')" onmouseout="UnGrey('User Profile')">
          <li class="nav-item" id='user'><a class="nav-link" href="/profile" id="User Profile">User</a></li>
          <li class="nav-item d-none d-md-block" id="profilepic"><a href="/profile"><img src="" alt="Profile Picture" class="rounded" style="width: 40px; height: 40px;"></a></li>
        </ul>
    </div>
    </div>
    </nav>
    <div class="container" style="margin-top:50px"></div>

    {% block content %}
    {% endblock %}

    <!-- Dodrzet strukturu! -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% block js %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- END Dodrzet strukturu! -->
  </body>
</html>