<!-- !!! ZMENY PROVADET ZAROVEN I V LAYOUTS/ADMIN.HTML !!! -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}

        <!-- Dodrzet strukturu! -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/PlacesToEat.svg' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">

        {% block css %}

        {% endblock %}
        <!-- END Dodrzet strukturu! -->

        <!-- Dodrzet strukturu! -->
        <title>{% block title %} {% endblock %}</title>
        <!-- END Dodrzet strukturu! -->
    </head>

    <body data-ng-app="HomeLayout">

        <!-- PROMĚNNÉ PRO JAVASCRIPT -->
            <input id="userId" value="{{ currentUser.id }}" hidden>

        <!-- NAVBAR -->
            <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
                <div class="container-fluid">

                    <!-- logo + název projektu -->
                        <a class="navbar-brand" href="/">
                            <img class="unselectable" src="{% static "img/PlacesToEatInverted.svg" %}" alt="PlacesToEatInverted.svg" width="40">
                        </a>
                        <a class="navbar-brand" href="/">
                            <strong class="text-nowrap unselectable">Yummy Places</strong>
                        </a>

                    <!-- dropdown tlačítko pro malé obrazovky -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="datatoggler">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    <div class="collapse navbar-collapse unselectable" id="collapsibleNavbar">

                        <!-- linky vlevo (podniky, admin pages) -->
                            <ul class="navbar-nav" onmouseover="ColorLinkOnHover('places', 'white', 75);" onmouseout="ColorLinkOnHover('places', 'white', 5);">
                                <li class="nav-item"><a class="nav-link" href="/places" id="placesLink">Browse places</a></li>
                            </ul>
                            {% if currentUser.role == "Admin" %}
                                <ul class="navbar-nav" onmouseover="ColorLinkOnHover('admin', 'white', 75);" onmouseout="ColorLinkOnHover('admin', 'white', 5);">
                                    <li class="nav-item"><a class="nav-link" href="/admin" id="adminLink">Admin</a></li>
                                </ul>
                            {% endif %}

                        <ul class="navbar-nav ml-auto">

                            <!-- uživatelský status vpravo -->
                                {% if currentUser %}
                                    <div class="row">
                                        <li class="nav-item row pr-1 ml-3">
                                            <z class="nav-link">

                                                <!-- username a profilový obrázek -->
                                                    <a class="text-decoration-none" id="users/{{ currentUser.id }}Link" onmouseover="ColorLinkOnHover('users/{{ currentUser.id }}', 'white', 75);" onmouseout="ColorLinkOnHover('users/{{ currentUser.id }}', 'white', 5);" href="/users/{{ currentUser.id }}/" style="color: rgba(255,255,255,.5);">
                                                        {% if currentUser.avatar != NULL and currentUser.avatar != "none" %}
                                                            <img class="rounded-circle" src="{{ currentUser.avatar }}" height="40px" width="40px">
                                                        {% else %}
                                                            <img class="rounded-circle" src="{% static '/img/AvatarPlaceholder.png' %}" height="40px" width="40px">
                                                        {% endif %}
                                                        <b>{{ currentUser.username }}</b>
                                                    </a>

                                                <!-- log out -->
                                                    <b style="color: rgba(255,255,255,.5) !important;">
                                                        (<y class="pointer" id="logoutLink" onclick="window.location = '/users/logout/'" onmouseover="ColorLinkOnHover('logout', 'black', 55);" onmouseout="ColorLinkOnHover('logout', 'black', 75);" style="color: rgba(0,0,0,.75)">log out</y>)
                                                    </b>
                                            </z>
                                        </li>
                                    </div>
                                {% else %}

                                    <!-- log in / register -->
                                        <li class="nav-item text-nowrap row mx-0">
                                            <a class="nav-link px-0" href="/users/login" onmouseover="ColorLinkOnHover('login', 'white', 75);" onmouseout="ColorLinkOnHover('login', 'white', 5);" id="loginLink">Log In</a>
                                            <a class="nav-link px-1" style="color: rgba(255, 255, 255,.5) !important;">/</a>
                                            <a class="nav-link px-0" href="/users/register" onmouseover="ColorLinkOnHover('register', 'white', 75);" onmouseout="ColorLinkOnHover('register', 'white', 5);" id="registerLink">Register</a>
                                        </li>
                                {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

        <!-- ODSAZENÍ CONTENTU ZVRCHU -->
            <div style="margin-bottom: 5rem !important;"></div>

        <!-- MESSAGES -->
            {% if messages %}
                <!--             KVULI TOMUHLE TO DELA BORDEL NA /places kdyz se vykreluje message               -->
                <div class="position-absolute mt-3" style="width: 90% !important; margin-left: 5% !important; z-index: 1000;" id="messages">
                <!--<div style="width: 90% !important; margin-left: 1% !important; z-index: 1000;" id="messages">-->
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        {% block content %}

        {% endblock %}

        <!-- Dodrzet strukturu! -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script rel="script" type="text/javascript" src="{% static '/js/layouts/layout.js' %}"></script>

        {% block js %}

        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- END Dodrzet strukturu! -->
    </body>
</html>