{% extends 'layouts/admin.html' %}

{% block title %}
    Admin pages | Users
{% endblock %}

{% block css %}
    {% load static %}
{% endblock %}

{% block content %}

    <!-- Nadpis -->
        <b class="py-1" style="font-size: x-large;">USERS</b>

    <!-- tabulka userů -->
        <div style="overflow: auto">
            <table class="table table-hover mt-2">

                <!-- hlavička -->
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Verified?</th>
                            <th scope="col">Username</th>
                            <th scope="col">Reviews</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>

                <!-- tabulka -->
                    <tbody>
                        {% for user in users %}
                            <tr class="edit pointer" id="{{ user.id }}">
                                <th scope="row">{{ user.id }}</th>
                                {% if user.isVerified %}
                                    <td>TRUE</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ user.username }}</td>
                                <td><button class="btn btn-outline-secondary reviews text-nowrap" ondragover="">Reviews ({{ user.reviewCount }})</button></td>
                                <td><button class="btn btn-danger delete">Delete</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/admin/users/index.js' %}"></script>
{% endblock %}