{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/home/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/home/index.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">

{% endblock %}

{% block title %}
    Yummy places
{% endblock %}

{% block content %}
    <div class="bg-primary" style="padding-bottom: 18%; padding-top: 15%">
        <div style="color: #FFFFFF; margin-left: 15%; margin-right: 15%">
            <p style="font-size: 65px; text-align: center">
                <strong>Yummy</strong> cupcakes, excellent coffee,<br>
                delicious steak, The best <strong>places</strong> in one!
            </p>
            <div style="margin-left:auto; margin-right:auto; width: 15%; height: auto;">
                <a href="/places" class="btn btn-lg font-weight-bold" style="background-color: #FFFFFF; color: #007dff; margin-top: 45px; border-radius: 14px;  width: 100%; height: auto;">
                    Browse places
                </a>
            </div>
        </div>
    </div>

    <div style="padding-top: 100px; padding-bottom: 100px">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="col-sm-3">
                <div style="margin-right: auto; margin-left: auto; width: 80%">
                    <img src="{% static 'img/PlacesToEat.svg' %}" style="height: auto; width: 100%">
                </div>
            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-8">
                <h1 style="text-align: center; margin-top: 50px">
                    What is Yummy Places
                </h1>
                <p style="text-align: center">
                    Tired of finding nice cafe? Do you want to share your experience of quality of Italian restaurant, you visited yesterday? Or you want to just read others users reviews of your favourite sweet-shop?&nbsp;<br>Lists of best places in town, their basic information, reviews on them.<br>We are providing all these features on our platform Yummy Places. It won´t be hard to find pub that suits you best.
                </p>
            </div>
        </div>
    </div>

    <div class="bg-primary" style="padding-bottom: 150px; background-color: #007dff;">
        <h1 style="color: #fff; text-align: center; padding-top: 150px" onscroll="alert('ses tu');">
            Yummy Places in numbers
        </h1>
        <div class="row" style="padding-top: 50px">
            <div class="col-sm-4" id="myDiv" style="border-radius: 10px; color: #fff; text-align: center">
                <h1 style="font-size: 60px; margin-top: 20%">{{ places }}</h1>
                <p style="font-size: 25px">How many places we know</p>
            </div>
            <div class="col-sm-4" id="myDiv" style="border-radius: 10px; color: #fff; text-align: center">
                <h1 style="font-size: 60px; margin-top: 20%">{{ users }}</h1>
                <p style="font-size: 25px">Community of reviewers</p>
            </div>
            <div class="col-sm-4" id="myDiv" style="border-radius: 10px; color: #fff; text-align: center">
                <h1 style="font-size: 60px; margin-top: 20%">{{ reviews }}</h1>
                <p style="font-size: 25px">Total number of reviews</p>
            </div>
        </div>
    </div>

    <div style="height: 500px; color: #007dff" >
        <div style="text-align: center">
            <h1 style="padding: 55px 0px 20px 0px">
                Do you want to join our community of reviewers?
            </h1>
            <p style="padding: 20px; font-size: 20px">
                As a registrated user, you will be able to write your own reviews and expand our database of nice places.<br>Together we are making better Places!
            </p>
            <a href="/users/register/" class="btn btn-lg font-weight-bold" style="color: #fff; background-color: #007dff">
                <p style="margin: auto">Click to registrate</p>
            </a>
            <p style="margin-top: 25px; font-size: 20px">
                Already registared?
            </p>
            <a href="/users/login/" class="btn btn-lg font-weight-bold" style="color: #fff; background-color: #007dff">
                <p style="margin: auto">Click to log in</p>
            </a>
        </div>
    </div>


{% endblock %}

{% block js %}
{% endblock %}