{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/home/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/home/index.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">

{% endblock %}

{% block title %}
    Yummy places
{% endblock %}

{% block content %}
    <div class="bg-primary" style="height: 850px">
        <div style="color: #FFFFFF; margin-left: 15%; padding-top: 150px;">
            <p style="font-size: 65px">
                <strong>&nbsp;&nbsp; Yummy</strong> cupcakes, excellent coffee,<br>
                delicious steak, The best <strong>places</strong> in one!
            </p>
            <a href="/places" class="btn btn-lg font-weight-bold" style="width: 200px; height: 50px; background-color: #FFFFFF; color: #007dff; margin-top: 45px; margin-left: 35%; border-radius: 14px">
                <p style="margin: auto">
                    Browse places
                </p>
            </a>
        </div>
    </div>

    <div style="background-color: #FFFFFF; height: 450px">
        <div class="wrapper" style="margin-top: 10%;display: grid; grid-template-columns: 1fr 2fr; grid-column-gap: 10px; justify-items: center; align-items: center">
            <img src="{% static 'img/PlacesToEat.svg' %}" style="height: 300px; width: 300px">
            <div style="display: grid; justify-items: center; padding-right: 15px">
                <h1 style="justify-items: stretch">
                    What is Yummy Places
                </h1>
                <p style="text-align: center">
                    Tired of finding nice cafe? Do you want to share your experience of quality of Italian restaurant, you visited yesterday? Or you want to just read others users reviews of your favourite sweet-shop?&nbsp;<br>Lists of best places in town, their basic information, reviews on them.<br>We are providing all these features on our platform Yummy Places. It won´t be hard to find pub that suits you best.
                </p>
            </div>
        </div>
    </div>

    <div class="bg-primary" style="height: 650px">
        <div>
            <h1 style="color: #fff; text-align: center; padding: 150px">
                Yummy Places in numbers
            </h1>
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; justify-items: center; margin-top: -25px">
                <div class="vertically-center wrapper pt-3 pb-3 px-4" id="myDiv" style="width: 360px; height: 300px; background-color: #007dff; border: 1px solid #007dff; border-radius: 10px; color: #fff; text-align: center">
                    <h1 style="font-size: 60px; margin-top: 20%">10</h1>
                    <p style="font-size: 25px">How many places we know</p>
                </div>
                <div class="vertically-center wrapper pt-3 pb-3 px-4" id="myDiv" style="width: 360px; background-color: #007dff; border: 1px solid #007dff; border-radius: 10px; color: #fff; text-align: center">
                    <h1 style="font-size: 60px; margin-top: 20%">25</h1>
                    <p style="font-size: 25px">Community of reviewers</p>
                </div>
                <div class="vertically-center wrapper pt-3 pb-3 px-4" id="myDiv" style="width: 360px; background-color: #007dff; border: 1px solid #007dff; border-radius: 10px; color: #fff; text-align: center">
                    <h1 style="font-size: 60px; margin-top: 20%">16</h1>
                    <p style="font-size: 25px">Number of total reviews</p>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 500px; color: #007dff" >
        <div style="text-align: center">
            <h1 style="padding: 55px 0px 20px 0px">
                Do you want to join our community of reviewers?
            </h1>
            <p style="padding: 20px; font-size: 20px">
                As a registrated user, you will be able to write your own reviews and expand our database of nice places.<br>Together we are making better Places!
            </p>
            <a href="/users/register/" class="btn btn-lg font-weight-bold" style="color: #fff; background-color: #007dff">
                <p style="margin: auto">Click to registrate</p>
            </a>
            <p style="margin-top: 25px; font-size: 20px">
                Already registared?
            </p>
            <a href="/users/login/" class="btn btn-lg font-weight-bold" style="color: #fff; background-color: #007dff">
                <p style="margin: auto">Click to log in</p>
            </a>
        </div>
    </div>


{% endblock %}

{% block js %}
{% endblock %}