{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/home/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/home/index.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">

{% endblock %}

{% block title %}
    Yummy places
{% endblock %}

{% block content %}
    <div style="width: 100%">
        <img src="{% static 'img/index/girl.jpg' %}" style="filter: brightness(70%); width: 100%">
    </div>
    <div style="margin-top: -40%">
        <p style="color: black"> Yummy cupcakes,<br>
            excellent coffee,<br>
            delicious steak,<br>
            The best places in one <br>
        </p>
    </div>

    <div class="row" style="margin-top: 70%">
        <div class="col-sm-5">
            <img src="{% static 'img/PlacesToEat.svg' %}" style="max-width: 60%; float: right; padding-right: 5%">
        </div>
        <div class="col-sm-7">
            <h2>What is Yummy Places</h2>
            <p style="font-size: 80%">Tired of finding nice cafe? Do you want to share your experience of quality of Italian restaurant, you visited yesterday? Or you want to just read others users reviews of your favourite sweet-shop?&nbsp;<br>Lists of best places in town, their basic information, reviews on them.<br>We are providing all these features on our platform Yummy Places. It won´t be hard to find pub that suits you best.</p>
        </div>
    </div>

    <div class="bg-primary">
        <h2 style="text-align: center; color: white; padding-top: 40px">Yummy Places in numbers</h2>
        <div class="row">
            <div class="col-sm-4">
                <h1 style="text-align: center">9</h1>
                <div style="text-align: center">How many places we know</div>
            </div>
            <div class="col-sm-4">
                <h1 style="text-align: center">9</h1>
                <div style="text-align: center">How many places we know</div>
            </div>
            <div class="col-sm-4">
                <h1 style="text-align: center">9</h1>
                <div style="text-align: center">How many places we know</div>
            </div>
        </div>
    </div>

    <div>
        <img src="{% static 'img/index/coop.jpg' %}" style="width: 100%">
    </div>
{% endblock %}

{% block js %}
{% endblock %}