/* Dělá obsah neoznačitelným */
    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

/* Nastavení stylu kurzoru */
    .pointer {
        cursor: pointer;
    }
    .defaultCursor {
        cursor: default;
    }

/* Zmenšení textu na obrazovce 0-991 px široké */
    @media only screen and (max-width: 991px)
    {
        .text-md-smaller {
            font-size: smaller;
        }
    }