/* RESPONZIVITA */

    /* držení celého register formu veprostřed */
        @media only screen and (max-width: 767px)
        {
            @media only screen and (max-height: 1113px) {
                #myDiv{
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1rem !important;
                    margin-top: 0;
                }
            }
            @media only screen and (min-height: 1114px) {
                .vertically-center {
                    margin: 0;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
        @media only screen and (min-width: 768px)
        {
            @media only screen and (max-height: 680px) {
                #myDiv{
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1rem !important;
                    margin-top: 0;
                }
            }
            @media only screen and (min-height: 681px) {
                .vertically-center {
                    margin: 0;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }

    /* rozsireni register formu na dostatecne siroke obrazovce */
        @media only screen and (min-width: 768px)
        {
            #myDiv {
                width: 720px !important;
            }
        }