{% extends 'layouts/example.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="name" name="name" value="{{ place.name }}">
        <input type="text" class="form-control" placeholder="street" name="street" value="{{ place.street }}">
        <input type="text" class="form-control" placeholder="city" name="city" value="{{ place.city }}">
        <input type="text" class="form-control" placeholder="zipCode" name="zipCode" value="{{ place.zipCode }}">
        <input type="text" class="form-control" placeholder="country" name="country" value="{{ place.country }}">
        <select name="type" class="form-control">
            {% for type in types %}
                {% if place.placeType.id == type.id %}
                    <option value="{{ type.id }}" selected>{{ type.name }}</option>
                {% else %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Save changes">
    </form>
{% endblock %}