{% extends 'layouts/example.html' %}
{% block content %}
    <a href="/places/create" class="btn btn-warning">Create new place</a>
    {% for place in places %}
        <div class="jumbotron">
        <a href="/places/{{ place.id }}"><h2>{{ place.name }}</h2></a>
        location: {{ place.street }}, {{ place.city }} {{ place.zipCode }}, {{ place.country }}
        <br>
        rating: {{ place.rating }}
        <br>
        Review count: {{ place.reviewCount }}
        <br>
        type: {{ place.placeType.name }}
        <br>
        opening times:
        <br>
        {% for time in place.openingTimes %}
            {% if time.day == 1 %}
                Monday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 2 %}
                Tuesday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 1 %}
                Wednesday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 1 %}
                Thursday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 1 %}
                Friday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 1 %}
                Saturday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 1 %}
                Sunday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}