{% extends 'layouts/example.html' %}
{% block content %}
    <div class="jumbotron">
    <a href="/places/{{ place.id }}/edit" class="btn btn-warning">Edit</a>
        <h2>{{ place.name }}</h2>
        location: {{ place.street }}, {{ place.city }} {{ place.zipCode }}, {{ place.country }}
        <br>
        rating: {{ place.rating }}
        <br>
        Review count: {{ place.reviewCount }}
        <br>
        type: {{ place.placeType.name }}
        <br>
        opening times:
        <br>
        {% for time in place.openingTimes %}
            {% if time.day == 0 %}
                Monday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 1 %}
                Tuesday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 2 %}
                Wednesday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 3 %}
                Thursday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 4 %}
                Friday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 5 %}
                Saturday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
            {% if time.day == 6 %}
                Sunday: {{ time.open }} - {{ time.close }}
                <br>
            {% endif %}
        {% endfor %}
        <a href="/places/{{ place.id }}/reviews"><h2>Reviews</h2></a>
    </div>
{% endblock %}