{% extends 'layouts/admin.html' %}

{% block title %}
    Admin pages | Places
{% endblock %}

{% block css %}
    {% load static %}
{% endblock %}

{% block content %}
    <a class="btn btn-success" href="/admin/places/create">Create new place</a><br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for place in places %}
           <tr class="edit" id="{{ place.id }}">
              <th scope="row">{{ place.id }}</th>
              <td>{{ place.name }}</td>
              <td><a class="btn btn-danger delete">Delete</a></td>
           </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block js %}
    <script src="{% static 'js/admin/places/index.js' %}"></script>
{% endblock %}