<!-- !!! ZMENY PROVADET ZAROVEN I V PLACES/PROFILE.HTML !!! -->

{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/places/profile.css' %}">
{% endblock %}

{% block title %}
    {{ place.name }}
{% endblock %}

{% block content %}
    <!-- PROMĚNNÉ PRO JAVASCRIPT -->
        <input id="page_id" value="{{ place.id }}" hidden>
        <input id="user_id" value="{{ currentUser.id }}" hidden>


    <div class="container mt-3 mb-3">
        <div class="card">
            <div class="card-body">

                <!-- BLOK - INFO O PODNIKU -->
                    <div class="row">

                        <!-- foto -->
                            <div class="col-md-4">
                                <div class="placePhoto m-0" style="width: available; position: relative;">
                                    {% if place.images.0 %}
                                        <img class="rounded img-fluid mx-auto d-block" src="http://77.244.251.110/{{ place.images.0.uri }}" style="position: absolute; object-fit: cover; width: 100%; height: 100%;">
                                    {% else %}
                                        <img class="rounded img-fluid mx-auto d-block" src="https://cdn.pixabay.com/photo/2020/03/15/23/24/food-4935258_960_720.jpg" style="position: absolute; object-fit: cover; width: 100%; height: 100%;">
                                    {% endif %}
                                </div>
                            </div>

                        <div class="col-md-8">

                            <!-- název (edit button pro admina) -->
                                <div class="row ml-1">
                                    <h3 class="mr-2">
                                        {% if place.isVerified == 1 %}
                                            <i class="fas fa-check-circle" style="color:green" data-toggle="tooltip" data-placement="bottom" title="Verified place"></i>
                                        {% else %}
                                            <i class="fas fa-exclamation-circle" style="color:orange" data-toggle="tooltip" data-placement="bottom" title="Not verified place"></i>
                                        {% endif %}
                                        {{ place.name }}
                                    </h3>
                                    {% if currentUser.role == "Admin" %}
                                        <a role="button" class="btn btn-outline-secondary py-1 px-2 pt-1 mb-1" href="/places/{{ place.id }}/edit/" style="margin-top: 0.15rem !important;">
                                            Edit
                                        </a>
                                    {% elif currentUser %}
                                        {% for owner in place.owners %}
                                            {% if owner.userID  == currentUser.id %}
                                                <a role="button" class="btn btn-outline-secondary py-1 px-2 pt-1 mb-1" href="/places/{{ place.id }}/edit/" style="margin-top: 0.15rem !important;">
                                                    Edit
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>

                            <!-- typ místa podniku -->
                                <b style="font-size: smaller">Type: </b>
                                {{ place.placeType.name }} (<a href="#" class="card-link" style="font-size: smaller">search others of the same type</a>)

                            </br>

                            <!-- otevírací doba -->
                                <div class="mt-2">
                                    <b class="text-nowrap" style="font-size: smaller;">Opening times:</b>
                                    <div class="row">
                                        <small class="col-1 text-nowrap font-weight-bold text-center">
                                            MO</br>TU</br>WE</br>TH</br>FR</br>SA</br>SU
                                        </small>
                                        <small class="col-8 text-nowrap">
                                            {% for i in '0123456'|make_list %}
                                                <div id="time{{ i }}">
                                                    {% for time in place.openingTimes %}
                                                        {% if time.day == i|add:"0" %}
                                                            {{ time.open|slice:"0:5" }} - {{ time.close|slice:"0:5" }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </small>
                                    </div>
                                </div>

                            <div class="row">

                                <!-- lokace -->
                                    <div class="text-nowrap pt-2 col-8 mb-xl-4">
                                        <b style="font-size: smaller;">Location:</b>
                                        <div class="pl-2" style="font-size: small">
                                            {{ place.street }}
                                            <br> {{ place.city }} {{ place.zipCode }}
                                            <br> {{ place.country }}
                                        </div>
                                    </div>

                                <!-- tlacitko pro napsani recenze -->
                                    {% if currentUser %}
                                        <div class="col-4 text-nowrap" id="newReviewButton" hidden>
                                            <button type="button" class="btn btn-outline-secondary position-absolute mr-2" data-toggle="collapse" data-target="#newReviewForm" aria-expanded="false" aria-controls="newReviewForm" id="buttonCollapse" style="bottom:10px; right: 10px;">
                                                Write a review!
                                            </button>
                                        </div>
                                    {% endif %}

                            </div>
                        </div>
                    </div>

                <hr/>

                <!-- HLAVIČKA RECENZÍ -->
                    <!-- celkový rating podniku -->
                        <div class="float-right position-absolute mr-3 mt-n2" style="right: 14px;">
                            <small class="float-right text-nowrap text-dark defaultCursor" style="font-size: large;">
                                {% if place.rating|floatformat:"0" == "0" %}
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                {% endif %}
                                {% if place.rating|floatformat:"0" == "1" %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                {% endif %}
                                {% if place.rating|floatformat:"0" == "2" %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                {% endif %}
                                {% if place.rating|floatformat:"0" == "3" %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                {% endif %}
                                {% if place.rating|floatformat:"0" == "4" %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                {% endif %}
                                {% if place.rating|floatformat:"0" == "5" %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                {% endif %}
                            </small>
                            <br/>
                            <small class="text-nowrap pt-1" style="font-size: smaller;">
                                <b>Overall rating: {{ place.rating|floatformat:"1" }} / 5</b> ({{ place.reviewCount }} reviews)
                            </small>
                        </div>

                    <!-- navigace - respektive filtrace recenzí -->
                        <div class="card-body pb-0 pt-0">
                            <div class="pt-0 pb-0">
                                <ul class="nav nav-pills invisible mb-2 d-lg-none">
                                    <li class="nav-item">
                                        <a class="nav-link">a</a>
                                    </li>
                                </ul>
                                <ul class="nav nav-pills" style="margin-left: -0.75rem !important;">
                                    <li class="nav-item pointer">
                                        <a id="all-link" class="nav-link active" onclick="update(1);">All ({{ place.reviewCount }})</a>
                                    </li>
                                    <li class="nav-item pointer">
                                        <a id="positive-link" class="nav-link text-primary" onclick="update(2);">Positive ({{ positive }})</a>   <!-- 4+ stars count -->
                                    </li>
                                    <li class="nav-item pointer">
                                        <a id="negative-link" class="nav-link text-primary" onclick="update(3);">Negative ({{ negative }})</a>   <!-- 3- stars count -->
                                    </li>
                                    <li class="nav-item pointer">
                                        <a id="verified-link" class="nav-link text-primary" onclick="update(4);">Only verified users ({{ verified }})</a>   <!-- count of verified users reviews -->
                                    </li>
                                </ul>
                            </div>
                        </div>

                <!-- PŘIDÁNÍ RECENZE -->
                    <div class="collapse" id="newReviewForm">
                        <div class="card mx-2 mt-3 border-primary">
                            <div class="card-body pb-2 pt-2 form-group" style="font-size: 150%;">
                                <small class="float-right pt-2">
                                    <label class="mr-1 font-weight-bold mb-0" for="rating" style="font-size: smaller">Your rating:</label>
                                    <div class="pt-0 mt-0 mb-2 defaultCursor" onclick="saveRating('newRating');">
                                        <i id="oneStar" class="fa fa-star" onmouseover="colorStars(this);"></i>
                                        <i id="twoStar" class="fa fa-star-o" onmouseover="colorStars(this);"></i>
                                        <i id="threeStar" class="fa fa-star-o" onmouseover="colorStars(this);"></i>
                                        <i id="fourStar" class="fa fa-star-o" onmouseover="colorStars(this);"></i>
                                        <i id="fiveStar" class="fa fa-star-o" onmouseover="colorStars(this);"></i>
                                    </div>
                                </small>
                                <label for="newReviewTextArea" style="font-size: smaller">Share your experience with other users:</label>
                                <form method="post" action="/places/{{ place.id }}/reviews/create/">
                                    {% csrf_token %}
                                    <input id="newRating" name="newRating" type="hidden" value="1">
                                    <input type="hidden" name="newReviewText" id="newReviewText">
                                    <textarea onchange="updateText('newReviewText', this.id);" class="card p-2 pl-3 text-justify form-control" placeholder="Write your experience down here." id="newReviewTextArea" rows="3" style="min-height: 2.7em; max-height: 27em;"></textarea>
                                    <button type="submit" class="btn float-right mt-2 border-primary text-primary" data-toggle="collapse" data-target="#newReviewForm" aria-expanded="false" aria-controls="newReviewForm" onclick="document.getElementById('newReviewTextArea').value = ''">Post review</button>
                                </form>
                            </div>
                        </div>
                    </div>

                <!-- JEDNOTLIVÉ RECENZE UŽIVATELŮ -->
                    <div id="userReviews" class="mt-3">
                        <!-- recenze přihlášeného uživatele -->
                            {% for review in reviews %}
                                {% if review.user.id == currentUser.id %}
                                    <div class="card m-2 mt-1 mb-3">
                                        <div class="card-body pb-2 pt-2">
                                            <small class="float-right pt-2" id="staticRating">
                                                {% if review.rating|floatformat:"0" == "0" %}
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% if review.rating|floatformat:"0" == "1" %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% if review.rating|floatformat:"0" == "2" %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% if review.rating|floatformat:"0" == "3" %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% if review.rating|floatformat:"0" == "4" %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% if review.rating|floatformat:"0" == "5" %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                {% endif %}
                                            </small>
                                            <small class="float-right pt-2" id="editReviewRating" hidden>
                                                <div class="p-0 m-0 defaultCursor" onclick="saveRating('editRating');">
                                                    <i id="oneStarEdit" class="fa fa-star" onmouseover="colorStars(this);"></i>
                                                    <i id="twoStarEdit" class="fa fa-star-o" onmouseover="colorStars(this);"></i>
                                                    <i id="threeStarEdit" class="fa fa-star-o" onmouseover="colorStars(this);"></i>
                                                    <i id="fourStarEdit" class="fa fa-star-o" onmouseover="colorStars(this);"></i>
                                                    <i id="fiveStarEdit" class="fa fa-star-o" onmouseover="colorStars(this);"></i>
                                                </div>
                                            </small>
                                            <div class="row">
                                                <p class="text-nowrap mb-2 pt-1 mr-2">
                                                    User
                                                    {% if review.user.isVerified == 1 %}
                                                        <i class="fas fa-check-circle" style="color:green; padding-top: 1.4%" data-toggle="tooltip" data-placement="bottom" title="User is verified"></i>
                                                    {% endif %}
                                                    <a href="/users/{{ review.user.id }}" class="text-dark"><b>{{ review.user.username }}</b></a> says:
                                                </p>
                                                <button type="button" class="btn btn-outline-secondary py-1 px-2 mb-2" onclick="editReview({{ review.rating }});" id="editReviewButton">
                                                    Edit
                                                </button>
                                                <button type="submit" class="btn btn-outline-secondary py-1 px-2 mb-2" form="editReview" onclick="editReview(0);" id="submitReviewButton" hidden>
                                                    Save
                                                </button>
                                            </div>
                                            <label for="editReviewTextArea" hidden></label>
                                            <form id="editReview" method="post" action="/places/{{ place.id }}/reviews/{{ review.id }}/edit/" hidden>
                                                {% csrf_token %}
                                                <input type="number" id="editRating" name="editRating" value="{{ review.rating }}" hidden>
                                                <input type="text" name="editReviewText" id="editReviewText" value="{{ review.text }}" hidden>
                                                <textarea onchange="updateText('editReviewText', this.id);" name="editReviewTextArea" class="card p-2 pl-3 text-justify text-md-smaller disabled w-100" id="editReviewTextArea" rows="3" style="min-height: 2.7em; max-height: 27em;">{{ review.text }}</textarea>
                                            </form>
                                            <div class="card p-2 pl-3 text-justify" id="editReviewContent">
                                                {{ review.text }}
                                            </div>
                                            <div class="row justify-content-between mb-0">
                                                <div class="col-auto mt-1 ml-2 row text-nowrap">
                                                    <x class="defaultCursor">{{ review.positiveReactions }}</x>
                                                    <i class="fa fa-thumbs-up px-1 pt-1 text-secondary"></i>
                                                    <y class="defaultCursor">{{ review.negativeReactions }}</y>
                                                    <i class="fa fa-thumbs-down pl-1 pt-1 text-secondary"></i>
                                                </div>
                                                <div class="col-auto">
                                                    <p class="text-nowrap m-0 pt-1 float-right" style="font-size: smaller">
                                                        Review added {{ review.time|slice:"5:7"}}.{{ review.time|slice:"8:10"}}.{{ review.time|slice:"0:4"}} {{ review.time|slice:"11:16"}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        <!-- recenze ostatních uživatelů -->
                            {% for review in reviews %}
                                {% if review.user.id != currentUser.id %}
                                    <div class="card m-2 mt-1 mb-3">
                                        <div class="card-body pb-2 pt-2">
                                            <small class="float-right pt-2">
                                                {% if review.rating|floatformat:"0" == "0" %}
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% if review.rating|floatformat:"0" == "1" %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% if review.rating|floatformat:"0" == "2" %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% if review.rating|floatformat:"0" == "3" %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% if review.rating|floatformat:"0" == "4" %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% if review.rating|floatformat:"0" == "5" %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                {% endif %}
                                            </small>
                                            <p class="text-nowrap mb-2">
                                                User
                                                {% if review.user.isVerified == 1 %}
                                                    <i class="fas fa-check-circle" style="color:green; padding-top: 1.4%" data-toggle="tooltip" data-placement="bottom" title="User is verified"></i>
                                                {% endif %}
                                                <a href="/users/{{ review.user.id }}" class="text-dark"><b>{{ review.user.username }}</b></a> says:
                                            </p>
                                            <div class="card p-2 pl-3 text-justify text-md-smaller" id="reviewContent">
                                                {{ review.text }}
                                            </div>
                                            <div class="row justify-content-between mb-0">
                                                <div class="col-auto mt-1 ml-2 row text-nowrap">
                                                    <x class="defaultCursor">{{ review.positiveReactions }}</x>
                                                    <i class="fa fa-thumbs-up px-1 pt-1 text-secondary pointer" id="negativeReaction_{{ review.id }}" onmouseover="blueThis(this.id);" onmouseout="blueThis(this.id);" onclick="likeReview({{ currentUser.id }}, {{ place.id }}, {{ review.id }}, this.id);"></i>
                                                    <y class="defaultCursor">{{ review.negativeReactions }}</y>
                                                    <i class="fa fa-thumbs-down pl-1 pt-1 text-secondary pointer" id="positiveReaction_{{ review.id }}" onmouseover="blueThis(this.id);" onmouseout="blueThis(this.id);" onclick="dislikeReview({{ currentUser.id }}, {{ place.id }}, {{ review.id }}, this.id);"></i>
                                                </div>
                                                <div class="col-auto">
                                                    <p class="text-nowrap m-0 pt-1 float-right" style="font-size: smaller">
                                                        Review added {{ review.time|slice:"5:7"}}.{{ review.time|slice:"8:10"}}.{{ review.time|slice:"0:4"}} {{ review.time|slice:"11:16"}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/places/profile.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reviews/index.js' %}"></script>
{% endblock %}