<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Index ('/')</a>
        </li>
        <li>
            <a href="/example">Example ('/example')</a>
        </li>
        <li>
            <a href="/urls">List of available urls ('/urls')</a>
        </li>
        <li>
            <a href="/about">About ('/about')</a>
        </li>
        <li>
            <a href="/users/login">Login ('/users/login')</a>
        </li>
        <li>
            <a href="/users/register">Register ('/users/register')</a>
        </li>
        <li>
            <a href="/places?page=1">List of places ('/places')</a>
        </li>
        <li>
            <a href="/places/create">Create place ('/places/create')</a>
        </li>
        <li>
            <a href="/places/1">Profile of place ('/places/{id}')</a>
        </li>
        <li>
            <a href="/places/1/edit">Edit place ('/places/{id}/edit')</a>
        </li>
        <li>
            <a href="/places/1/reviews">List of reviews of place ('/places/{id}/reviews')</a>
        </li>
        <li>
            <a href="/places/1/reviews/create">Create new review ('/places/{id}/reviews/create')</a>
        </li>
        <li>
            <a href="/places/1/reviews/2/edit">Edit review ('/places/{place_id}/reviews/{id}/edit')</a>
        </li>
        <li>
            <a href="/placetypes">List of place types ('/placetypes')</a>
        </li>
        <li>
            <a href="/placetypes/create">Create place type ('/placetypes/create')</a>
        </li>
        <li>
            <a href="/placetypes/1/edit">Edit place type ('/placetypes/{id}/edit')</a>
        </li>
        <li>
            <a href="/places/1/openingtimes">List of opening times of place ('/places/{id}/openingtimes')</a>
        </li>
        <li>
            <a href="/places/1/openingtimes/create">Create opening times of place ('/places/{id}/openingtimes/create')</a>
        </li>
        <li>
            <a href="/places/1/openingtimes/edit">Edit all opening times of place ('/places/{id}/openingtimes/edit')</a>
        </li>
        <li>
            <a href="/places/1/reviews/type/2">Get json, where are positive/negative/all reviews, do not require html page ('/places/{id}/reviews/type/{type}')</a>
        </li>
        <!--
        <li>
            <a href="/"> ('/')a</a>
        </li>
        -->

    </ul>
</body>
</html>