{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
{% endblock %}

{% block title %}
    {{ user.username }} - Edit
{% endblock %}

{% block content %}
    <form method="post" class="container" enctype="multipart/form-data">
        {% csrf_token %}

        {% if user.avatarURI %}
            <b>Your profile picture:</b><br/>
            <div class="mt-1">
                <img height="150 px;" src="/images/?name={{ user.avatarURI }}">
            </div>
        {% endif %}

        <!-- photo upload -->
            <div class="form-inline mt-2">
                <label class="mr-2" for="photoUpload">Change profile picture:</label>
                <div class="form-control custom-file" style="border: 0;">
                    <input type="file" class="custom-file-input" id="photoUpload" name="avatar">
                    <label class="custom-file-label" for="photoUpload" style="border-radius: 4px; justify-content: left;">Choose file</label>
                </div>
            </div>

        <div class="form-inline mt-2">
            <label class="mr-2" for="firstName">First name:</label>
            <input class="form-control" name="firstName" id="firstName" style="width: available;" placeholder="First name" value="{% if user.firstName %}{{ user.firstName }}{% endif %}">
        </div>
        <div class="form-inline mt-2">
            <label class="mr-2" for="lastName">Last name:</label>
            <input class="form-control" name="lastName" id="lastName" style="width: available;" placeholder="Last name" value="{% if user.lastName %}{{ user.lastName }}{% endif %}">
        </div>
        <div class="form-inline mt-2">
            <label class="mr-2" for="country">Country:</label>
            <input class="form-control" name="country" id="country" style="width: available;" placeholder="Country" value="{% if user.country %}{{ user.country }}{% endif %}">
        </div>

        <label class="mt-2" for="description">Description:</label>
        <textarea class="form-control text-justify" name="description" id="description"placeholder="Biography or description" style="width: available;">{% if user.description %}{{ user.description }}{% endif %}</textarea>

        <div class="pt-3">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger" onclick="window.location = '/users/{{ user.id }}'">Cancel</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="{% static '/js/users/edit.js' %}"></script>
{% endblock %}