<!-- !!! ZMENY PROVADET ZAROVEN I V USERS/REVIEWS.HTML !!! -->

{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/users/index.css' %}">
{% endblock %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block content %}
    <div class="container mt-3 mb-3">
        <div class="card">

            <!-- INFORMACE O UŽIVATELI (nad dělící čárou) -->
                <div class="card-body row">

                    <!-- profilový obrázek -->
                        <div class="col-sm-3">
                            {% if user.avatarURI %}
                                <img class="rounded-circle img-fluid mx-auto d-block" src="http://77.244.251.110/{{ user.avatarURI }}" style="width: available;" id="userPhoto"/>
                            {% else %}
                                <img class="rounded-circle img-fluid mx-auto d-block" src="{% static '/img/AvatarPlaceholder.png' %}" style="width: available;" id="userPhoto"/>
                            {% endif %}
                        </div>

                    <div class="col-sm-9 pt-2">

                        <!-- Username -->
                            <div class="row container">
                                <h3 class="font-weight-bold">
                                    {% if user.isVerified == 1 %}
                                        <i class="fas fa-check-circle" style="color:green" data-toggle="tooltip" data-placement="bottom" title="Verified user"></i>
                                    {% endif %}

                                    {% if user.id != NULL %}
                                        {{ user.username }}
                                    {% else %}
                                        User not found!
                                    {% endif %}
                                </h3>
                            </div>

                        <!-- Popis uživatele -->
                            {% if user.description != NULL and user.description != "" %}
                                <h7 class="font-weight-bold">
                                    User biography:<br/>
                                </h7>
                                <p class="pl-2">{{ user.description }}</p>
                            {% endif %}

                        <!-- tlačítko pro editaci profilu -->
                            {% if currentUser.id == user.id and currentUser.id != NULL %}
                                <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#editProfile">Edit your profile</button>
                            {% endif %}

                    </div>
                </div>

            <hr class="mx-3"/>

            <!-- NEJUŽITEČNĚJŠÍ RECENZE UŽIVATELE -->
                <div class="card-body pt-0 pb-3">
                    <b>Most useful reviews written by {{ user.username }}:</b>
                    {% if review %}
                        <div class="card m-2 mt-1 mb-3">
                            <div class="card-body pb-2 pt-2">
                                <small class="float-right pt-2">
                                    {% if review.rating|floatformat:"0" == "0" %}
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    {% endif %}
                                    {% if review.rating|floatformat:"0" == "1" %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    {% endif %}
                                    {% if review.rating|floatformat:"0" == "2" %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    {% endif %}
                                    {% if review.rating|floatformat:"0" == "3" %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    {% endif %}
                                    {% if review.rating|floatformat:"0" == "4" %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    {% endif %}
                                    {% if review.rating|floatformat:"0" == "5" %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                </small>
                                <p class="text-nowrap mb-2">
                                    <b>{{ user.username }}</b> reviewed <a href="/places/{{ review.place.id }}" class="text-dark">{{ review.place.name }}</a> ({{ review.place.street }} street in {{ review.place.country }})
                                </p>
                                <div class="card p-2 pl-3 text-justify text-md-smaller">
                                    {{ review.text }}
                                </div>
                                <p class="text-nowrap m-0 pt-1 float-right" style="font-size: smaller">
                                    Review written {{ review.time|slice:"5:7"}}.{{ review.time|slice:"8:10"}}.{{ review.time|slice:"0:4"}} {{ review.time|slice:"11:16"}}
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Odkaz na users/id/reviews -->
                        <div class="card mb-0 ml-2" style="border-width: 0px;">
                            <a href="/users/{{ user.id }}/reviews" style="width: max-content;">Show all reviews here</a>
                        </div>

                </div>

        </div>

        <!-- EDITACE PROFILU -->
            <div class="modal fade" id="editProfile">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- hlavička -->
                            <div class="modal-header">
                                <h4 class="modal-title">Edit your profile</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                        <!-- blok editace -->
                            <div class="modal-body">
                                <form method="post" action="/users/{{ user.id }}/edit">
                                    {% csrf_token %}

                                    <!-- photo upload -->
                                        <div class="input-group mb-4">
                                            <label class="mr-2 pt-2" for="photo">Change profile picture:</label>
                                            <div class="form-control custom-file mr-2" id="photo" style="max-width: 300px; text-align: left !important; border: 0px;">
                                                <input type="file" class="custom-file-input" id="photoUpload" name="avatar">
                                                <label class="custom-file-label" for="photoUpload" style="border-radius: 4px;">Choose file</label>
                                            </div>
                                        </div>

                                    <!-- Jméno, příjmení -->
                                        <div class="form-inline row">
                                            <div class="form-group mb-2 col-lg-6">
                                                <label for="fName" class="mr-2">First name: </label>
                                                <input type="text" class="form-control" id="fName" value="{{ user.firstName }}" placeholder="Enter your first name" required>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="lName" class="mr-2">Last name: </label>
                                                <input type="text" class="form-control" id="lName" value="{{ user.lastName }}" placeholder="Enter your last name" required>
                                            </div>
                                        </div>

                                    <hr class="mb-4"/>

                                    <!-- Country -->
                                        <div class="form-inline row mb-4">
                                            <div class="form-group mb-2 col-lg-6">
                                                <label for="country" class="mr-2">Country: </label>
                                                <input type="text" class="form-control" id="country" value="{{ user.country }}" placeholder="Enter your country">
                                            </div>
                                        </div>

                                    <!-- Description, biografie -->
                                        <div class="form-group">
                                            <label for="description">Your biography:</label>
                                            <textarea class="form-control text-md-smaller" id="description" rows="3" placeholder="Your biography">{{ user.description }}</textarea>
                                        </div>

                                </form>
                            </div>

                        <!-- spodní část editace - submit a cancel tlačítka -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" data-dismiss="modal">Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>

                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}