{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
    <style>
    @media only screen and (min-width: 768px)
    {
        #registering{
            display: none;
        }
    }
    </style>
{% endblock %}

{% block title %}
Log In
{% endblock %}

{% block content %}
 <body class="bg-primary">
        <div class="wrapper" style="position: absolute; left: 50%; top: 50%;transform: translate(-50%, -50%); width: 380px; background-color: #fff; padding: 15px 40px 50px; border: 1px solid #fff; border-radius: 20px; box-shadow: 0px 0px 10px 0px #000c97">
            <form  method="post" style="margin-top: 20px">
                {% csrf_token %}
                <div href="/" style="width: 150px;" class="mx-auto d-block unselectable">
                    <a href="/">
                        <img src="{% static 'img/PlacesToEat.svg' %}" alt="PlacesToEat.svg" style="height: 150px;">
                    </a>
                </div>
                <div class="form-group mt-4" style="margin: 10px auto">
                    <label class="text-primary font-weight-bold" for="uname">Username:</label>
                    <input class="form-control" type="text" id="uname" placeholder="Your username" required>
                </div>
                <div class="form-group">
                    <label class="text-primary font-weight-bold" for="pwd"> Password:</label>
                    <input class="form-control" type="password" id="pwd" placeholder="Your password" required>
                </div>
                <button class="btn btn-lg btn-block btn-primary font-weight-bold" style="border-radius: 15px" type="submit">Login</button>
                <div class="mt-2 mb-0 pb-0 position-absolute pr-5" id="registering" style="right: 0px;">
                    <a class="text-primary text-decoration-none font-weight-bold" href="/users/register">
                        or Sign Up
                    </a>
                </div>
            </form>
        </div>
  </body>
{% endblock %}