{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/users/login.css' %}">
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block content %}
    <body class="bg-primary">
        <div class="vertically-center wrapper py-3 px-4 customBorder" id="myDiv" style="width: 360px;">
            <form method="post">
                {% csrf_token %}

                <!-- Project photo -->
                    <div href="/" style="width: 150px;" class="mx-auto unselectable">
                        <a href="/">
                            <img src="{% static 'img/PlacesToEat.svg' %}" alt="PlacesToEat.svg" style="height: 150px;">
                        </a>
                    </div>

                <!-- Username -->
                    <div class="form-group mt-4">
                        <label class="text-primary font-weight-bold" for="uname">Username:</label>
                        <input name="username" class="form-control" type="text" id="uname" placeholder="Your username" required>
                    </div>

                <!-- Password -->
                    <div class="form-group">
                        <label class="text-primary font-weight-bold" for="pwd"> Password:</label>
                        <input name="password" class="form-control" type="password" id="pwd" placeholder="Your password" required>
                    </div>

                <!-- submit button -->
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold" style="border-radius: 14px" type="submit">
                        Login
                    </button>

                <!-- Register button -->
                    <div class="position-relative pr-1" id="registering" style="font-size: 15px; text-align: right; margin-top: 0.75rem !important;">
                        <a class="text-primary text-decoration-none font-weight-bold my-0 py-0" href="/users/register">
                            Click Here for Sign Up
                        </a>
                    </div>
            </form>
        </div>
    </body>
{% endblock %}