{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
{% endblock %}

{% block title %}
    Browse
{% endblock %}

{% block content %}
      <div class="container my-3">                                                  <!-- dává prostor doleva a doprava, aby stránka měla okraje -->
          <div class="m-auto p-0" style="width: 300px;">                                                                     <!-- záhlaví stránky - velké logo a název podniku -->
              <a href="/" style="width: 300px;"><img src="{% static "img/PlacesToEat.svg" %}" class="mx-auto mb-3 d-block" alt="PlacesToEat.svg" style="width: 300px;"></a> <!-- alternate src="PlacesToEatInvertedBorder.svg" -->
          </div>
        <div class="list-group">                                                    <!-- seznam podniků -->
            {% for place in places %}
                  <x onclick="location.href='{{ place.id }}'" class="list-group-item list-group-item-action flex-column align-items-start" style="background-color: #66adff">
                     <div class="row">
                        <div class="col-2">                         <!-- fotka restaurace -->
                            <img src="https://cdn.pixabay.com/photo/2015/05/15/14/55/cafe-768771_960_720.jpg" class="rounded-2 img-thumbnail" alt="Place photo" style="width: 150px; height: 150px; vertical-align: center">
                        </div>
                        <div class="col-10">
                             <div class="d-flex w-100 justify-content-between">
                                 <h3 class="mb-2 text-nowrap">{{ place.name }}</h3>            <!-- název místa -->
                                 <a href="{{ place.id }}/reviews" style="color: black">                                       <!-- hodnocení - je potřeba dořešit zobrazení na základě dynamických dat -->
                                      <small class="float-right">
                                          {% if place.rating|floatformat:"0" == "0" %}
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                          {% endif %}
                                          {% if place.rating|floatformat:"0" == "1" %}
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                          {% endif %}
                                          {% if place.rating|floatformat:"0" == "2" %}
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                          {% endif %}
                                          {% if place.rating|floatformat:"0" == "3" %}
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                          {% endif %}
                                          {% if place.rating|floatformat:"0" == "4" %}
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                          {% endif %}
                                          {% if place.rating|floatformat:"0" == "5" %}
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                          {% endif %}
                                      </small>
                                      </br>
                                     <small class="mb-0 mt-0 float-right text-nowrap">
                                         <b id="serRating">{{ place.rating|floatformat:"1" }} / 5</b> ({{ place.reviewCount }} reviews)
                                     </small>
                                 </a>
                            </div>
                            <p class="mb-0 text-nowrap">                                            <!-- typ místa -->
                                <b style="font-size: smaller">Type:</b> <x style="font-family: Consolas">{{ place.placeType.name }}</x>
                            </p>
                            <p class="mb-0 text-nowrap">                                            <!-- poloha místa -->
                                <b style="font-size: smaller">Location:</b> <x style="font-family: Consolas">{{ place.city }}</x> • <x id="street">{{ place.street }}</x> <y style="font-size: smaller">({{ place.country }})</y>
                            </p>
                            <p class="mb-0 text-nowrap">                                            <!-- status - je potřeba dořešit dynamické zobrazení -->
                                {% if place.open %}
                                    <b style="font-size: smaller">State:</b> <x style="font-family: Consolas">Open until {{ place.open }}</x>
                                {% else %}
                                    <b style="font-size: smaller">State:</b> <x class="text-danger text-bold" style="font-size: medium"><b>closed</b></x>
                                {% endif %}
                            </p>
                          <!--  <div class="row" class="collapse" id="Collapse1">                                 to, co driv bylo collapsable --><!--
                                <div class="col-3">
                                    <x class="text-nowrap"><b style="font-size: smaller">Opening time:</b></x>
                                    <div class="row">
                                        <small class="col-1"></small>
                                        <small class="col-2" style="text-align: end">MO</br>TU</br>WE</br>TH</br>FR</br>SA</br>SU</small>
                                        <small class="col-8 text-nowrap">
                                            <one id="day1">07:00 - 18:00</one>
                                            </br>
                                            <two id="day2">07:00 - 18:00</two>
                                            </br>
                                            <three id="day3">07:00 - 18:00</three>
                                            </br>
                                            <four id="day4">07:00 - 18:00</four>
                                            </br>
                                            <five id="day5">07:00 - 18:00</five>
                                            </br>
                                            <six class="text-danger font-weight-bold" id="day6">closed</six>
                                            </br>
                                            <seven class="text-danger font-weight-bold" id="day7">closed</seven>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-9 container">
                                    <p class="mb-2 text-nowrap"><b style="font-size: smaller">Most recent review:</b></p>
                                    <div class="container pl-3 pr-3 pt-2 pb-2 border rounded-lg">
                                        <div class="d-flex w-100 justify-content-between align-text-center">
                                            <x>
                                                <i class="fa fa-check-circle-o" id="isVerified"></i>
                                                <b style="font-size: smaller" id="reviewAuthor">Willy Nyguen</b> <y style="font-size: smaller">(12.03.2020)</y>
                                            </x>
                                            <small class="row float-right pr-2">
                                                <i class="fa fa-star pt-1 pr-1" id="star1rev"></i>
                                                <i class="fa fa-star-o pt-1 pr-1" id="star2rev"></i>
                                                <i class="fa fa-star-o pt-1 pr-1" id="star3rev"></i>
                                                <i class="fa fa-star-o pt-1 pr-1" id="star4rev"></i>
                                                <i class="fa fa-star-o pt-1 pr-1" id="star5rev"></i>
                                            </small>
                                        </div>
                                        <p class="text-justify mt-2 mb-1" style="font-size: small" id="latestReview">Takže tahle restaurace je fakt k hovnu.</br>Objednal jsem si sushi a dali mi sušenou rybu? Pardon, nikdy víc.</br>Jedna hvězda z pěti.</p>
                                    </div>
                                </div>
                            </div>  -->
                        </div>
                     </div>
                  </x>
                <div style="padding: 15px"></div>
            {% endfor %}
        </div>

        <ul class="pagination justify-content-center mt-5">
            {% if pages.last %}
                <li class="page-item "><a class="page-link" href="/places/?page={{ pages.content.1 }}">Previous</a></li><!-- pagination -->
            {% elif not pages.first %}
                <li class="page-item "><a class="page-link" href="/places/?page={{ pages.content.0 }}">Previous</a></li>
            {% endif %}
            {% for i in pages.content %}
                {% if i == pages.current %}
                    <li class="page-item active"><a class="page-link" href="/places/?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/places/?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if pages.first %}
                <li class="page-item"><a class="page-link" href="/places/?page={{ pages.content.1 }}">Next</a></li>
            {% elif not pages.last %}
                <li class="page-item"><a class="page-link" href="/places/?page={{ pages.content.2 }}">Next</a></li>
            {% endif %}
        </ul>

      </div>
{% endblock %}

{% block js %}
<script>
    function goToReviews()
    {
        window.location.href = '/places/{{ place.id }}/reviews';
    }
</script>
{% endblock %}