{% extends 'layouts/layout.html' %}

{% block css %}
    {% load static %}
{% endblock %}

{% block title %}
{{ place.name }}
{% endblock %}

{% block content %}
    <input id="page_id" value="{{ place.id }}" type="hidden">
    <div class="container mt-3 mb-3">
        <div class="card">
          <div class="card-body row">
              <div class="col-3">
                  <img class="rounded" src="https://cdn.pixabay.com/photo/2015/05/15/14/55/cafe-768771_960_720.jpg" width="250px" height="250px">
              </div>
              <div class="col-9">
                  <h3>
                      {% if place.isVerified == 'true' %}
                          <i class="fas fa-check-circle" style="color:green" data-toggle="tooltip" data-placement="bottom" title="Verified place"></i>
                          {% else %}
                          <i class="fas fa-exclamation-circle" style="color:orange" data-toggle="tooltip" data-placement="bottom" title="Not verified place"></i>
                      {% endif %}
                      {{ place.name }}
                  </h3>
                  <b style="font-size: smaller">Type: </b>
                  {{ place.placeType.name }} (<a href="#" class="card-link" style="font-size: smaller">search others of the same type</a>)
                  </br>
                  <div class="mt-2">
                      <b class="text-nowrap" style="font-size: smaller;">Opening times:</b>
                      <div class="row">
                          <small class="col-1 text-nowrap font-weight-bold" style="text-align: center;">
                              MO</br>TU</br>WE</br>TH</br>FR</br>SA</br>SU
                          </small>
                          <small class="col-8 text-nowrap">
                          {% for i in '0123456'|make_list %}
                              <div id="time{{ i }}">
                                  {% for time in place.openingTimes %}
                                      {% if time.day == i|add:"0" %}
                                          {{ time.open|slice:"0:5" }} - {{ time.close|slice:"0:5" }}
                                      {% endif %}
                                  {% endfor %}
                              </div>
                          {% endfor %}
                          </small>
                      </div>
                  </div>

                  <div class="mt-2">
                      <b class="text-nowrap" style="font-size: smaller;">Location:</b>
                      <div class="pl-2" style="font-size: small">
                          {{ place.street }}
                          <br> {{ place.city }} {{ place.zipCode }}
                          <br> {{ place.country }}
                      </div>
                  </div>
              </div>
          </div>
        <div class="mr-5 mb-3" style="position: absolute; align-self: end; margin-top: 27%">
            <p class="mb-0 text-nowrap" style="cursor: default">
                Have you visited this place?<br> Share your experience
                <a href="/places/{{ place.id }}/reviews/create">here!</a>
            </p>
        </div>

            <hr/>

          <div class="card-body pt-1">
            <div class="row mx-1">
                <ul class="nav nav-tabs col-9">
                  <li class="nav-item">
                    <a id="all-link" class="nav-link active" onclick="update(1);">All ({{ place.reviewCount }})</a>
                  </li>
                  <li class="nav-item">
                    <a id="positive-link" class="nav-link text-info" onclick="update(2);">Positive ({{ positive }})</a>   <!-- 4+ stars count -->
                  </li>
                  <li class="nav-item">
                    <a id="negative-link" class="nav-link text-info" onclick="update(3);">Negative ({{ negative }})</a>   <!-- 3- stars count -->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-info">Only verified users (x)</a>   <!-- count of verified users reviews -->
                  </li>
                </ul>

                <div class="col-3 row justify-content-end">                                    <!-- hodnocení - je potřeba dořešit zobrazení na základě dynamických dat -->
                  <small style="font-size: large">
                      {% if place.rating|floatformat:"0" == "0" %}
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      {% endif %}
                      {% if place.rating|floatformat:"0" == "1" %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      {% endif %}
                      {% if place.rating|floatformat:"0" == "2" %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      {% endif %}
                      {% if place.rating|floatformat:"0" == "3" %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      {% endif %}
                      {% if place.rating|floatformat:"0" == "4" %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      {% endif %}
                      {% if place.rating|floatformat:"0" == "5" %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      {% endif %}
                  </small>
                  <br>
                  <small class="text-nowrap">
                      <b>Overall rating: {{ place.rating|floatformat:"1" }} / 5</b> ({{ place.reviewCount }} reviews)
                  </small>

                </div>
            </div>
            <div id="card-content">
              {% for review in reviews %}
                    <div class="card m-2 my-3">
                      <div class="card-body">
                          <small class="float-right">
                            {% if review.rating|floatformat:"0" == "0" %}
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if review.rating|floatformat:"0" == "1" %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if review.rating|floatformat:"0" == "2" %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if review.rating|floatformat:"0" == "3" %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if review.rating|floatformat:"0" == "4" %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if review.rating|floatformat:"0" == "5" %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            {% endif %}
                        </small>
                          <h2>{{ review.user.username }}</h2>
                            rating: {{ review.rating }}
                            <br>
                            date posted: {{ review.time|slice:"5:7"}}. {{ review.time|slice:"8:10"}}. {{ review.time|slice:"0:4"}}, {{ review.time|slice:"11:16"}}
                            <br>
                            review text:
                            <br>
                            {{ review.text }}
                            <br>
                        </div>
                    </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/places/profile.js' %}"></script>
{% endblock %}